.green {
    background:#013214;
}

.othergreen {
//    background:#296356;
}

.wrapper {
    overflow:hidden;
}

.inline {
    display:inline;
}

.contentimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.middle {
    display: inline-block;
/*    margin-right: 50%;
    transform: translate(50%, 0)
*/
    margin:auto;
}

.notfooter {
    position:relative;
    min-height:100%;
    padding-bottom:50px;
}

.footer {
//    position:absolute;
    width:100%;
    height:50px;
    bottom:0;
}

.largenav {
    display:inline-block;
}
